// Colors
$color-primary: #a445ed;
$color-error: #ff5252;

$color-2: #050505;
$color-12: #1f1f1f;
$color-18: #2d2d2d;
$color-23: #3a3a3a;
$color-51: #757575;
$color-91: #e9e9e9;
$color-96: #f4f4f4;
$color-100: #ffffff;

// Typography

$font-heading-l: 6.4rem;
$font-heading-m: 2.4rem;
$font-heading-s: 2rem;

$font-body-m: 1.8rem;
$font-body-s: 1.4rem;
